/* Classe personalizada com tom de azul */
.custom-blue-header {
    background-color: #00abb3; /* Tom de azul personalizado */
    color: #fff; /* Cor do texto */
}

.headerSuperior{
    background-color: #00abb3;

}