body{
    font-family: sans-serif;
    width: 80%;
    margin: auto; 
}

div{
    background:  #eaeaea;
    height: 53px;
    width: 800px;

}

.menu{
    padding: 0;
    text-align: center;
}

.menu li {
    list-style: none;
    display: inline-block;

}

.menu a {
    background-color: #eaeaea;
    display: block;
    text-decoration: none;
    padding: 16px;
}

.menu a:hover{
    background-color: #3c4048;
    color: white;
    border-bottom: 6px solid #00abb3;
}

.menu.flex {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
}