body{
    font-family: sans-serif;
    width: 80%;
    margin: auto; 
}

div{
    background:  #ccc;
    height: 53px;
    width: 800px;

}

.menu{
    padding: 0;
    text-align: center;
}

.menu li {
    list-style: none;
    display: inline-block;

}

.menu a {
    background-color: #ccc;
    display: block;
    text-decoration: none;
    padding: 16px;
}

.menu a:hover{
    background-color: #333;
    color: white;
    border-bottom: 6px solid rgb(187, 8, 8);
}

.menu.flex {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
}