body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #00abb3;
    color: #fff;
    padding: 2em 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 130px;
    margin-right: 10px;
    padding-right: 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 25px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: none;
    color: #94fff1;
    font-weight: bold;
    font-size: 1.2em;
}

/* Adicionando regras de mídia para tornar o layout responsivo */

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        text-align: left;
        margin-bottom: 10px;
    }
}