/* Arquivo de Media Query para todas as telas */

/* Media query para telas menores */
@media screen and (max-width: 768px) {
    .header-title {
        
        font-size: 1.5rem;
    }

@media (max-width: 450px) {
        .swiper {
          height: 270px;
        }
      }
}

@media (min-width: 80px) and (max-width: 179px) { /* #1 */

    .divNav1 ul {
        display: flex;
        width: 100%;
        height: 80px;
        align-items: center;
        justify-content: center;
    }
    
    .divNav1 a {
        font-size: 13px;
        align-items: center;
        justify-content: center;
    }
    
    .divTitulo {
        height: 120px ;
    }
    
    .header-title {
        /* background-color: yellow; */
        width: 250px;
        font-size: 18px;
        padding: 0px 20px 0px 0px;
    }
    
    #LogoPrincipalEscola {
        width: 100%;
        height: 110px;
        padding-left: 15px;
    }
    
    .menuFlex {
        height: 60px;
    }
    
    .menuFlex li{
        align-items: center;
        justify-content: center;
        
    }
    
    .menuFlex a {
        font-size: 13px;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }
    
    h2, h3{
        font-size: 18px;
    }
    
    h2 {
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 5px;
    }
    
    p {
        font-size: 13px;
    }
    
    #text-missao li{
        font-size: 13px;
    }
    
    #textEndereco {
        font-size: 18px;
    }
    
    #donateBtn {
        font-size: 13px;
    }
    
    #fotoNossaInstituicao {
    
        padding-left: 25px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        width: 90%;
    }
    
    #fotoMissao {
        padding-left: 25px;
        width: 93%;
        margin-top: 0px;
        padding-top: 0px;
    }
    
    .fa-phone, .fa-clock, .fa-envelope1 {
        display: none;
    }
    
    #contatos i {
        width: 5%;
    }
    
}
/* ---------------------------------- */

@media (min-width: 180px) and (max-width: 279px) { /* #2 */

    .divNav1 ul {
        width:100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .divNav1 a {
        font-size: 12px;
        align-items: center;
        justify-content: center;
    }
    
    .divTitulo {
        height: 120px ;
    }
    
    .header-title {
        /* background-color: yellow; */
        width: 250px;
        font-size: 18px;
        padding: 0px 20px 0px 0px;
    }
    
    #LogoPrincipalEscola {
        width: 100%;
        height: 110px;
        padding-left: 15px;
    }
    
    .menuFlex {
        height: 60px;
    }
    
    .menuFlex li{
        align-items: center;
        justify-content: center;
        
    }
    
    .menuFlex a {
        font-size: 13px;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }
    
    h2, h3{
        font-size: 18px;
    }
    
    h2 {
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 5px;
    }
    
    p {
        font-size: 13px;
    }
    
    #text-missao li{
        font-size: 13px;
    }
    
    #textEndereco {
        font-size: 18px;
    }
    
    #donateBtn {
        font-size: 13px;
    }
    
    #fotoNossaInstituicao {
    
        padding-left: 25px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        width: 90%;
    }
    
    #fotoMissao {
        padding-left: 25px;
        width: 93%;
        margin-top: 0px;
        padding-top: 0px;
    }
    
    .fa-phone, .fa-clock, .fa-envelope1 {
        display: none;
    }
    
    #contatos i {
        width: 5%;
    }

}
/* ----------------------------------- */

@media (min-width: 280px) and (max-width: 380px) { /* #3*/

.divNav1 ul {
    width:100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divNav1 a {
    font-size: 13px;
    align-items: center;
    justify-content: center;
}

.divTitulo {
    height: 120px ;
}

.header-title {
    /* background-color: yellow; */
    width: 250px;
    font-size: 18px;
    padding: 0px 20px 0px 0px;
}

#LogoPrincipalEscola {
    width: 100%;
    height: 110px;
    padding-left: 15px;
}

.menuFlex {
    height: 60px;
}

.menuFlex li{
    align-items: center;
    justify-content: center;
    
}

.menuFlex a {
    font-size: 13px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

h2, h3{
    font-size: 18px;
}

h2 {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
}

p {
    font-size: 13px;
}

#text-missao li{
    font-size: 13px;
}

#textEndereco {
    font-size: 18px;
}

#donateBtn {
    font-size: 13px;
}

#fotoNossaInstituicao {

    padding-left: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 90%;
}

#fotoMissao {
    padding-left: 25px;
    width: 93%;
    margin-top: 0px;
    padding-top: 0px;
}

.fa-phone, .fa-clock, .fa-envelope1 {
    display: none;
}

#contatos i {
    width: 5%;
}

}

/* --------------------------------------------- */

@media (min-width: 380px) and (max-width: 479px) { /* #4*/

    .divNav1 ul {
        width:100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .divNav1 a {
        font-size: 14px;
        align-items: center;
        justify-content: center;
    }
    
    .divTitulo {
        height: 120px ;
    }
    
    .header-title {
        /* background-color: yellow; */
        width: 250px;
        font-size: 18px;
        padding: 0px 20px 0px 0px;
    }
    
    #LogoPrincipalEscola {
        width: 100%;
        height: 110px;
        padding-left: 15px;
    }
    
    .menuFlex {
        height: 60px;
    }
    
    .menuFlex li{
        align-items: center;
        justify-content: center;
        
    }
    
    .menuFlex a {
        font-size: 14px;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }
    
    h2, h3{
        font-size: 18px;
    }
    
    h2 {
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 5px;
    }
    
    p {
        font-size: 14px;
    }
    
    #text-missao li{
        font-size: 13px;
    }
    
    #textEndereco {
        font-size: 18px;
    }
    
    #donateBtn {
        font-size: 13px;
    }
    
    #fotoNossaInstituicao {
    
        padding-left: 50px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        width: 90%;
    }
    
    #fotoMissao {
        padding-left: 50px;
        width: 90%;
        margin-top: 0px;
        padding-top: 0px;
    }
    
    .fa-phone, .fa-clock, .fa-envelope1 {
        display: none;
    }
    
    #contatos i {
        width: 5%;
    }


}